<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Seguidor</title>
</head>
<body>
    <h1>Añadir nuevo seguidor para el Usuario {{ usuario_id }}</h1>
    <form method="POST">
        <label for="seguidor_id">ID del Seguidor:</label>
        <input type="text" id="seguidor_id" name="seguidor_id" required>
        <button type="submit">Añadir</button>
    </form>
    <a href="{{ url_for('seguidores.index', usuario_id=usuario_id) }}">Volver</a>
</body>
</html>
